@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", serif;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
}

footer {
  background-color: #464040;
  color: #ffffff;
  padding: 30px 25px 10px 25px;
}
footer h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 100;
}
footer ul {
  list-style-type: none;
  padding: 5px 0px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li .fa-utensils {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul li .fa-handshake-angle {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 25px 0px 15px 0px;
  margin: 0px 0px 3px 0px;
}
header img {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #ededed;
  padding: 0px 0px 50px 0px;
}
nav div.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}
nav h4 {
  padding: 0px 15px;
  margin: 17px 0px;
}
nav div.description h2 {
  text-align: center;
  margin: 40px;
}
nav div.description p {
  text-align: center;
  font-size: 18px;
  margin: 0px 40px 30px 40px;
}
nav div.description button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 45px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 5px 10px 0px #cccccc;
  /*This is not compiling*/
}
nav div.description button:hover {
  filter: brightness(110%);
  box-shadow: 0px 5px 10px 0px #9e9d9d;
  cursor: pointer;
}

main div.instructions-container {
  padding: 30px 25px 60px 25px;
}
main div.instructions-container div.step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
main div.instructions-container div.step-container div.instructions-step {
  margin-bottom: 5px;
  width: 96%;
}
main div.instructions-container div.step-container div.instructions-step div.number {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: inline;
  padding: 5px 9px;
  background-color: #9356DC;
  border-radius: 30px;
  position: relative;
  top: 50px;
  right: 15px;
}
main div.instructions-container div.step-container div.instructions-step div.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: #ededed;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 10px 0px #cccccc;
}
main div.instructions-container div.step-container div.instructions-step div.icon-text i.fa-mobile-screen-button {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main div.instructions-container div.step-container div.instructions-step div.icon-text i.fa-list-ul {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main div.instructions-container div.step-container div.instructions-step div.icon-text i.fa-store {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main div.restaurants-container {
  background-color: #ededed;
  padding: 30px 25px 60px 25px;
}
main div.restaurants-container div.restaurant-tiles-container {
  /*include flex mixin*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
main div.restaurants-container div.restaurant-tiles-container div.restaurant-tile {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #cccccc;
}
main div.restaurants-container div.restaurant-tiles-container div.restaurant-tile-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -5px;
}
main div.restaurants-container div.restaurant-tiles-container div.new-tag {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #65aa99;
  background-color: #99E2D0;
  display: inline;
  padding: 5px 25px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
main div.restaurants-container div.restaurant-tiles-container div.text-icon-container {
  /*insert flex mixin*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
main div.restaurants-container div.restaurant-tiles-container div.text-icon-container div.restaurant-tile-text h3 {
  margin: 0px;
}
main div.restaurants-container div.restaurant-tiles-container div.text-icon-container div.restaurant-tile-text p {
  margin: 0px;
}
main div.restaurants-container div.restaurant-tiles-container div.text-icon-container i.fa-heart {
  padding: 0px 20px 25px 0px;
  /*&::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 0%;
                        background-color: $primary;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        transition: all 0.5s;
                    }
                    &:hover:before {
                        height: 100%;
                    }*/
}
main div.restaurants-container div.restaurant-tiles-container div.text-icon-container i.solid-heart {
  color: #9356DC;
}/*# sourceMappingURL=homepage.css.map */