@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", serif;
  font-weight: 100;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
}

footer {
  background-color: #464040;
  color: #ffffff;
  padding: 30px 25px 10px 25px;
}
footer h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 100;
}
footer ul {
  list-style-type: none;
  padding: 5px 0px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li .fa-utensils {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul li .fa-handshake-angle {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /*Why doesn't the visited color work?*/
}
footer ul a:visited {
  color: #ffffff;
}

header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 25px 0px 15px 0px;
  margin: 0px 0px 3px 0px;
}
header img {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  height: 100vh;
  -webkit-animation: hideAnimation 0s ease-in 3s;
          animation: hideAnimation 0s ease-in 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.spinner .rotate {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  -webkit-animation: rotation 3s forwards;
          animation: rotation 3s forwards;
}

@-webkit-keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
nav {
  background-color: #ededed;
  padding: 0px 0px 50px 0px;
}
nav .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}
nav h4 {
  padding: 0px 15px;
  margin: 17px 0px;
}
nav .description h2 {
  text-align: center;
  margin: 40px;
}
nav .description p {
  text-align: center;
  font-size: 18px;
  margin: 0px 40px 30px 40px;
}
nav .description button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 45px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 5px 10px 0px #cccccc;
  transition: 0.5s;
}
nav .description button:hover {
  filter: brightness(110%);
  box-shadow: 0px 5px 10px 0px #9e9d9d;
  cursor: pointer;
}

main .instructions-container {
  padding: 30px 25px 60px 25px;
}
main .instructions-container .step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
main .instructions-container .step-container .instructions-step {
  margin-bottom: 5px;
  width: 96%;
}
main .instructions-container .step-container .instructions-step .number {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: inline;
  padding: 5px 9px;
  background-color: #9356DC;
  border-radius: 30px;
  position: relative;
  top: 50px;
  right: 15px;
}
main .instructions-container .step-container .instructions-step .icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: #ededed;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 10px 0px #cccccc;
}
main .instructions-container .step-container .instructions-step .icon-text i.fa-mobile-screen-button {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main .instructions-container .step-container .instructions-step .icon-text i.fa-list-ul {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main .instructions-container .step-container .instructions-step .icon-text i.fa-store {
  padding: 0px 25px 0px 0px;
  color: #817f7f;
}
main .restaurants-container {
  background-color: #ededed;
  padding: 30px 25px 60px 25px;
}
main .restaurants-container .restaurant-tiles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
main .restaurants-container .restaurant-tiles-container .restaurant-tile {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #cccccc;
}
main .restaurants-container .restaurant-tiles-container .restaurant-tile-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -5px;
}
main .restaurants-container .restaurant-tiles-container .new-tag {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #65aa99;
  background-color: #99E2D0;
  display: inline;
  padding: 5px 25px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .restaurant-tile-text h3 {
  margin: 0px;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .restaurant-tile-text p {
  margin: 0px;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon {
  position: relative;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon i.fa-outlineheart {
  color: #000000;
  padding: 0px 20px 25px 0px;
  position: absolute;
  right: -10px;
  z-index: 1;
  transition: 0.5s;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon i.fa-solidheart {
  color: transparent;
  position: absolute;
  right: 10px;
  transition: 0.5s;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon:hover i.fa-outlineheart, main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon:active i.fa-outlineheart {
  cursor: pointer;
  z-index: -1;
}
main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon:hover i.fa-solidheart, main .restaurants-container .restaurant-tiles-container .text-icon-container .heart-icon:active i.fa-solidheart {
  cursor: pointer;
  z-index: 1;
  color: #9356DC;
}

/*TABLET*/
@media (min-width: 641px) {
  main .restaurants-container .restaurant-tiles-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .restaurants-container .restaurant-tiles-container .restaurant-tile {
    flex: 25%;
    /*Why is there extra space after The Enchanted Plate?*/
  }
}
/*DESKTOP*/
@media (min-width: 1008px) {
  main .instructions-container .step-container {
    flex-direction: row;
    gap: 50px;
    align-items: start;
    padding: 0px 15px;
  }
}/*# sourceMappingURL=homepage.css.map */