@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Shrikhand&display=swap');
$shrikhand: 'Shrikhand', serif;
$roboto: 'Roboto', sans-serif;

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$city-background: #e0e0e0;
$main-background: #ededed;
$shadow: #cccccc;
$grayicon: #817f7f;

* {
    box-sizing: border-box;
}
a:any-link {
    text-decoration: none;
}
h1 {
    font-family: $shrikhand;
}
h2 {
    font-family: $roboto;
    font-weight: 900;
}
h4 {
    font-family: $roboto;
    font-weight: 500;
}
h3 {
    font-family: $roboto;
    font-weight: 900;
}
p {
    font-family: $roboto;
    font-weight: 300;
}
body {
    margin: 0px;
}
header {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 25px 0px 15px 0px;
    margin: 0px 0px 3px 0px;
    & img {
        display:block;
        height: 30px;
        margin-left:auto;
        margin-right:auto;
        }
}

@mixin boxshadow {
    box-shadow: 0px 5px 10px 0px $shadow;
}

nav {
    background-color: $main-background;
    padding: 0px 0px 50px 0px;
    & div.location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        background-color: $city-background;
    }    
        & h4 {
            padding: 0px 15px;
            margin: 17px 0px;
        }
    & div.description {
        & h2 {
            text-align: center;
            margin: 40px;
        }
        & p {
            text-align: center;
            font-size: 18px;
            margin: 0px 40px 30px 40px;
        }
        & button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-style: none;
            color: #ffffff;
            font-weight:500;
            font-size: 16px;
            padding: 15px 30px;
            border-radius: 30px;
            background: $primary;
            background: linear-gradient(to top, $primary 0%, $secondary 100%);
            @include boxshadow;
        }
    }
}

@mixin flexstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin instructionbtn {
    padding: 30px;
    width: 100%;
    background-color: $main-background;
    border-radius: 20px;
    font-family: $roboto;
    @include boxshadow;
}

@mixin numbericon {
    color: #ffffff;
    font-family: $roboto;
    font-size: 14px;
    display: inline;
    padding: 5px 9px;
    background-color: $primary;
    border-radius: 30px;
    position: relative;
    top: 50px;
    right: 15px;
}

@mixin stepicon {
    padding: 0px 25px 0px 0px;
    color: $grayicon;
}

$mobile-padding: 30px 25px 60px 25px;
$tile-radius: 15px;

main {
    & div.instructions-container {
        padding: $mobile-padding;
        & div.step-container {
            @include flexend;
            width: 100%;
            & div.instructions-step {
                margin-bottom: 5px;
                width: 96%;
                & div.number {
                    @include numbericon;
                }
                & div.icon-text {
                    @include flexstart;
                    @include instructionbtn;
                    & i.fa-mobile-screen-button {
                        @include stepicon;
                    }
                    & i.fa-list-ul {
                        @include stepicon;
                    }
                    & i.fa-store {
                        @include stepicon;
                    }
                }  
            } 
        }
    }
    & div.restaurants-container {
        background-color: $main-background;
        padding: $mobile-padding;
            & div.restaurant-tiles-container {
                /*include flex mixin*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                & div.restaurant-tile {
                    background-color: #ffffff;
                    border-radius: $tile-radius;
                    @include boxshadow;
                    & div.restaurant-tile-image {
                        & img {
                            object-fit: cover;
                            height: 200px;
                            width: 100%;
                            border-top-left-radius: $tile-radius;
                            border-top-right-radius: $tile-radius;
                            margin-bottom: -5px;
                        }
                    }
                    
                    /*Can the relative position be more responsive so that
                    the tag stays over the tile when the width expands?
                    Are these tags affected the text and icon spacing?*/
                    & div.new-tag {
                        font-family: $roboto;
                        font-size: 14px;
                        color: #65aa99;
                        background-color: $tertiary;
                        display: inline;
                        padding: 5px 25px;
                        border-radius: 3px;
                        position: relative;
                        bottom: 180px;
                        left: 270px;
                    }
                    & div.text-icon-container {
                        /*insert flex mixin*/
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        & div.restaurant-tile-text {
                            h3 {
                                margin: 0px 10px;
                            }
                            p {
                                margin: 0px 0px 20px 10px;
                            }
                        }
                        & i.fa-heart {
                            padding: 0px 20px 25px 0px;
                        }
                    }
                    
                }
            }
    }
}

footer {
    background-color: #464040;
    color: #ffffff;
    padding: 30px 25px 10px 25px;
    h1 {
        margin: 0px;
        font-size: 18px;
        font-weight: 100;
    }    
    ul {
       list-style-type: none; 
       padding: 5px 0px;
        li {
        padding: 5px 0px;
            .fa-utensils {
            color: #ffffff;
            padding: 0px 10px 0px 0px;
            }
            .fa-handshake-angle {
            color: #ffffff;
            padding: 0px 10px 0px 0px;
            }
        }
        a {
            color: #ffffff;
            font-family: $roboto;
            font-weight: 300;
        }
       }
    
}
