@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", serif;
  font-weight: 100;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
}

footer {
  background-color: #464040;
  color: #ffffff;
  padding: 30px 25px 10px 25px;
}
footer h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 100;
}
footer ul {
  list-style-type: none;
  padding: 5px 0px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li .fa-utensils {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul li .fa-handshake-angle {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 25px 0px 15px 0px;
  margin: 0px 0px 3px 0px;
}
header img {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

main .restaurant-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: static;
}
main .restaurant-dish-container {
  background-color: #ededed;
  padding: 30px 25px 60px 25px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  margin-top: -60px;
}
main .restaurant-dish-container .restaurant-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .restaurant-dish-container .restaurant-title h1 {
  font-size: 32px;
}
main .restaurant-dish-container .restaurant-title .heart-icon {
  position: relative;
}
main .restaurant-dish-container .restaurant-title .heart-icon i.fa-outlineheart {
  padding: 0px 20px 25px 0px;
  position: absolute;
  right: -10px;
  z-index: 1;
  transition: 0.5s;
}
main .restaurant-dish-container .restaurant-title .heart-icon i.fa-solidheart {
  color: transparent;
  position: absolute;
  right: 10px;
  transition: 0.5s;
}
main .restaurant-dish-container .restaurant-title .heart-icon:hover i.fa-outlineheart, main .restaurant-dish-container .restaurant-title .heart-icon:active i.fa-outlineheart {
  cursor: pointer;
  z-index: -1;
}
main .restaurant-dish-container .restaurant-title .heart-icon:hover i.fa-solidheart, main .restaurant-dish-container .restaurant-title .heart-icon:active i.fa-solidheart {
  cursor: pointer;
  z-index: 1;
  color: #9356DC;
}
main .dish-container .dish-type {
  position: relative;
}
main .dish-container .dish-type h5 {
  font-size: 18px;
  margin-top: 50px;
}
main .dish-container .dish-type h5:before {
  position: absolute;
  height: 0;
  width: 45px;
  content: "";
  border-top: 4px solid #99E2D0;
  top: 30px;
}
main .dish-container .dish-type .dishes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 15px;
}
main .dish-container .dish-type .dishes-container .dish-banner {
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 10px 0px #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
main .dish-container .dish-type .dishes-container .dish-banner h6 {
  font-size: 22px;
  margin: 0px;
}
main .dish-container .dish-type .dishes-container .dish-banner p {
  margin: 5px 0px 0px 0px;
  font-size: 18px;
}
main .dish-container .dish-type .dishes-container .dish-banner .dish-price {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}
main .dish-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 45px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 5px 10px 0px #cccccc;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 85px;
  transition: 0.5s;
}
main .dish-container button:hover {
  filter: brightness(110%);
  box-shadow: 0px 5px 10px 0px #9e9d9d;
  cursor: pointer;
}/*# sourceMappingURL=restaurants.css.map */