@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Shrikhand", serif;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
}

footer {
  background-color: #464040;
  color: #ffffff;
  padding: 30px 25px 10px 25px;
}
footer h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 100;
}
footer ul {
  list-style-type: none;
  padding: 5px 0px;
}
footer ul li {
  padding: 5px 0px;
}
footer ul li .fa-utensils {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul li .fa-handshake-angle {
  color: #ffffff;
  padding: 0px 10px 0px 0px;
}
footer ul a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 25px 0px 15px 0px;
  margin: 0px 0px 3px 0px;
}
header img {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

main div.restaurant-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: static;
}
main div.restaurant-dish-container {
  background-color: #ededed;
  padding: 30px 25px 60px 25px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  top: -60px;
}
main div.restaurant-dish-container .restaurant-title {
  /*replace with flex variable*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main div.restaurant-dish-container .restaurant-title h1 {
  font-size: 32px;
}
main div.restaurant-dish-container .restaurant-title .fa-heart {
  margin-right: 15px;
}
main div.dish-container .dish-type h5 {
  font-size: 18px;
}
main div.dish-container .dish-type .dishes-container {
  /*insert flex mixin*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 15px;
}
main div.dish-container .dish-type .dishes-container .dish-banner {
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 5px 10px 0px #cccccc;
  /*include flex mixin*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main div.dish-container .dish-type .dishes-container .dish-banner h6 {
  font-size: 22px;
  margin: 0px;
}
main div.dish-container .dish-type .dishes-container .dish-banner p {
  margin: 5px 0px 0px 0px;
  font-size: 18px;
}
main div.dish-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 45px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 5px 10px 0px #cccccc;
}/*# sourceMappingURL=restaurants.css.map */