/*This scss file doesn't seem to be compiling
into the main.css file*/
main {
    & div.restaurant-img {
        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
}
    & div.restaurant-dish-container {
        background-color: $main-background;
        border-top-left-radius: $lg-radius;
        border-top-right-radius: $lg-radius;

    }
    & div.dish-continer {
        /*replace with flex mixin*/
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }