main {
    & div.restaurant-img {
        width: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
}
.restaurant-dish-container {
    background-color: $main-background;
    border-top-left-radius: $lg-radius;
    border-top-right-radius: $lg-radius;

}
.dish-continer {
    /*replace with flex mixin*/
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}