nav {
    background-color: $main-background;
    padding: 0px 0px 50px 0px;
    & div.location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        background-color: $city-background;
    }    
        & h4 {
            padding: 0px 15px;
            margin: 17px 0px;
        }
    & div.description {
        & h2 {
            text-align: center;
            margin: 40px;
        }
        & p {
            text-align: center;
            font-size: 18px;
            margin: 0px 40px 30px 40px;
        }
        & button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-style: none;
            color: #ffffff;
            font-weight:500;
            font-size: 16px;
            padding: 15px 30px;
            border-radius: $lg-radius;
            background: $primary;
            background: linear-gradient(to top, $primary 0%, $secondary 100%);
            @include boxshadow;
        }
    }
}

main {
    & div.instructions-container {
        padding: $mobile-padding;
        & div.step-container {
            @include flexend;
            width: 100%;
            & div.instructions-step {
                margin-bottom: 5px;
                width: 96%;
                & div.number {
                    @include numbericon;
                }
                & div.icon-text {
                    @include flexstart;
                    @include instructionbtn;
                    & i.fa-mobile-screen-button {
                        @include stepicon;
                    }
                    & i.fa-list-ul {
                        @include stepicon;
                    }
                    & i.fa-store {
                        @include stepicon;
                    }
                }  
            } 
        }
    }
    & div.restaurants-container {
        background-color: $main-background;
        padding: $mobile-padding;
            & div.restaurant-tiles-container {
                /*include flex mixin*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                & div.restaurant-tile {
                    background-color: #ffffff;
                    border-radius: $md-radius;
                    @include boxshadow;
                    & div.restaurant-tile-image {
                        & img {
                            object-fit: cover;
                            height: 200px;
                            width: 100%;
                            border-top-left-radius: $md-radius;
                            border-top-right-radius: $md-radius;
                            margin-bottom: -5px;
                        }
                    }
                    
                    /*Can the relative position be more responsive so that
                    the tag stays over the tile when the width expands?
                    Are these tags affected the text and icon spacing?*/
                    & div.new-tag {
                        font-family: $roboto;
                        font-size: 14px;
                        color: #65aa99;
                        background-color: $tertiary;
                        display: inline;
                        padding: 5px 25px;
                        border-radius: 3px;
                        position: relative;
                        bottom: 180px;
                        left: 270px;
                    }
                    & div.text-icon-container {
                        /*insert flex mixin*/
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        & div.restaurant-tile-text {
                            h3 {
                                margin: 0px 10px;
                            }
                            p {
                                margin: 0px 0px 20px 10px;
                            }
                        }
                        & i.fa-heart {
                            padding: 0px 20px 25px 0px;
                        }
                    }
                    
                }
            }
    }
}