.spinner {
  height: 100vh;
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
  & .rotate {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    animation: rotation 3s forwards;
  }
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
nav {
  background-color: $main-background;
  padding: 0px 0px 50px 0px;
  & .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $city-background;
  }
  & h4 {
    padding: 0px 15px;
    margin: 17px 0px;
  }
  & .description {
    & h2 {
      text-align: center;
      margin: 40px;
    }
    & p {
      text-align: center;
      font-size: 18px;
      margin: 0px 40px 30px 40px;
    }
    & button {
      @include gradientbtn;
      transition: $hover-transition;
      &:hover {
        @include gradientbtnhover;
      }
    }
  }
}

main {
  & .instructions-container {
    padding: $mobile-padding;
    & .step-container {
      @include flexendcolumnbetween;
      width: 100%;
      & .instructions-step {
        margin-bottom: 5px;
        width: 96%;
        & .number {
          @include numbericon;
        }
        & .icon-text {
          @include flexcenterrowstart;
          @include instructionbtn;
          & i.fa-mobile-screen-button {
            @include stepicon;
          }
          & i.fa-list-ul {
            @include stepicon;
          }
          & i.fa-store {
            @include stepicon;
          }
        }
      }
    }
  }
  & .restaurants-container {
    background-color: $main-background;
    padding: $mobile-padding;
    & .restaurant-tiles-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      & .restaurant-tile {
        position: relative;
        background-color: #ffffff;
        border-radius: $md-radius;
        @include boxshadow;
        &-image {
          & img {
            object-fit: cover;
            height: 200px;
            width: 100%;
            border-top-left-radius: $md-radius;
            border-top-right-radius: $md-radius;
            margin-bottom: -5px;
          }
        }
      }
      & .new-tag {
        font-family: $roboto;
        font-size: 14px;
        color: #65aa99;
        background-color: $tertiary;
        display: inline;
        padding: 5px 25px;
        border-radius: 2px;
        position: absolute;
        top:15px;
        right: 15px;
      }
      & .text-icon-container {
        @include flexcenterrowbetween;
        padding: 15px;
         & .restaurant-tile-text {
          h3 {
            margin: 0px;;
          }
          p {
            margin: 0px;
          }
        }
        & .heart-icon {
          position: relative;
          & i.fa-outlineheart {
            @include outlineheart-before;
          }
          & i.fa-solidheart {
            @include solidheart-before;
          }
          &:hover, &:active {
            & i.fa-outlineheart {
              @include outlineheart-after;
            }
            & i.fa-solidheart {
              @include solidheart-after;
            }
          }

        }
      }
    }
  }
}