.spinner {
  height: 100vh;
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
  & .rotate {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    animation: rotation 3s forwards;
  }
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
nav {
  background-color: $mainBackground;
  padding: 0px 0px 50px 0px;
  & .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $cityBackground;
  }
  & h4 {
    padding: 0px 15px;
    margin: 17px 0px;
  }
  & .description {
    & h2 {
      text-align: center;
      margin: 40px;
    }
    & p {
      text-align: center;
      font-size: 18px;
      margin: 0px 40px 30px 40px;
    }
    & button {
      @include gradientBtn;
      transition: $hoverTransition;
      &:hover {
        @include gradientBtnHover;
      }
    }
  }
}

main {
  & .instructions-container {
    padding: $mobilePadding;
    & .step-container {
      @include flexColumnEnd;
      justify-content: space-between;
      width: 100%;
      & .instructions-step {
        margin-bottom: 5px;
        width: 96%;
        & .number {
          @include numberIcon;
        }
        & .icon-text {
          @include flexRowCenter;
          justify-content: flex-start;
          @include instructionBtn;
          & i.fa-mobile-screen-button {
            @include stepIcon;
          }
          & i.fa-list-ul {
            @include stepIcon;
          }
          & i.fa-store {
            @include stepIcon;
          }
        }
      }
    }
  }
  & .restaurants-container {
    background-color: $mainBackground;
    padding: $mobilePadding;
    & .restaurant-tiles-container {
      @include flexColumnCenter;
      justify-content: space-between;
      gap: 20px;
      & .restaurant-tiles-flex {
        @include flexColumnCenter;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        & a {
          color: #000000;
          &:hover {
            cursor: pointer;
          }
        }
        & .restaurant-tile {
          position: relative;
          background-color: #ffffff;
          border-radius: $mdRadius;
          width: 100%;
          @include boxShadow;
            & img {
              object-fit: cover;
              height: 200px;
              width: 100%;
              border-top-left-radius: $mdRadius;
              border-top-right-radius: $mdRadius;
              margin-bottom: -5px;
            }
        }
        & .new-tag {
          font-family: $roboto;
          font-size: 14px;
          color: #2f8770;
          background-color: $tertiary;
          display: inline;
          padding: 5px 25px;
          border-radius: 2px;
          position: absolute;
          top:15px;
          right: 15px;
        }
        & .text-icon-container {
          @include flexRowCenter;
          justify-content: space-between;
          padding: 15px;
          & .restaurant-tile-text {
            h3 {
              margin: 0px;
              font-size: 18px;
            }
            p {
              margin: 0px;
              font-size: 18px;
            }
          }
          & .heart-icon {
            position: relative;
            & i.fa-outlineheart {
              @include outlineHeartBefore;
            }
            & i.fa-solidheart {
              @include solidHeartBefore;
            }
            &:hover, &:active {
              & i.fa-outlineheart {
                @include outlineHeartAfter;
              }
              & i.fa-solidheart {
                @include solidHeartAfter;
              }
            }
          }
        }
      }
    }
  }
}

/*TABLET*/
@media (min-width: 641px) {
  main {
    & .instructions-container h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 28px;
    } 
    & .restaurants-container {
        & h2 {
          text-align: center;
          margin-bottom: 50px;
          font-size: 28px;
        }
        & .restaurant-tiles-container {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          & .restaurant-tiles-flex {
            flex-direction: row;
            gap: 10px;
          }
        }
      }
    }
  nav {
    & h4 {
      font-size: 18px;
    } 
    & .description {
      & h2 {
        font-size: 50px;
        letter-spacing: 3px;
        margin: 20px;
      }
      & p {
        font-size: 25px;
      }
    }
  }
}

/*DESKTOP*/
@media (min-width: 1008px) {
  main .instructions-container .step-container {
    flex-direction: row;
    gap: 50px;
    align-items: start;
    padding: 0px 15px;
  }
  nav {
    & .description {
      & h2 {
        font-size: 72px;
      }
      & p {
        font-size: 36px;
      }
    }
  }
    
}
  