main {
    & .restaurant-img {
        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
            position: static;
        }
    }
    & .restaurant-dish-container {
        background-color: $main-background;
        padding: $mobile-padding;
        border-top-left-radius: $lg-radius;
        border-top-right-radius: $lg-radius;
        position: relative;
        top: -60px;
        & .restaurant-title {
            /*replace with flex variable*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & h1 {
                font-size: 32px;
            }
            & .heart-icon {
                position: relative;
                margin-right: 15px;
                & i.fa-outlineheart {
                    @include outlineheart-before;
                    &:hover {
                      @include outlineheart-after;
                    }
                  }
                  & i.fa-solidheart {
                    @include solidheart-before;
                    &:hover {
                      @include solidheart-after;
                    }
                }
            }
        }
    }
    & .dish-container {
        & .dish-type {
            & h5 {
                font-size: 18px;
                margin-top: 50px;
                &:before {
                    position: absolute;
                    height: 0;
                    width: 45px;
                    content: '';
                    border-top: 4px solid $tertiary;
                    top: 155px;
                }
            }
            & .dishes-container {
                /*insert flex mixin*/
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                gap: 15px;
                & .dish-banner {
                    @include dishbtn;
                    /*include flex mixin*/
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    & h6 {
                        font-size: 22px;
                        margin: 0px;
                    }
                    & p {
                        margin: 5px 0px 0px 0px;
                        font-size: 18px;
                    }
                    & .dish-price {
                        font-family: $roboto;
                        font-size: 18px;
                        font-weight: 900;
                    }
                }
            }
        }
        & button {
            @include gradientbtn;
            font-size: 18px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px 85px;
            transition: $hover-transition;
            &:hover {
                @include gradientbtnhover;
            }
        }
    }
}
