@mixin boxshadow {
    box-shadow: 0px 5px 10px 0px $shadow;
}
@mixin numbericon {
    color: #ffffff;
    font-family: $roboto;
    font-size: 14px;
    display: inline;
    padding: 5px 9px;
    background-color: $primary;
    border-radius: 30px;
    position: relative;
    top: 50px;
    right: 15px;
}
@mixin stepicon {
    padding: 0px 25px 0px 0px;
    color: $grayicon;
}
@mixin instructionbtn {
    padding: 30px;
    width: 100%;
    background-color: $main-background;
    border-radius: 20px;
    font-family: $roboto;
    @include boxshadow;
}
@mixin gradientbtn {
    display: block;
            margin-left: auto;
            margin-right: auto;
            border-style: none;
            color: #ffffff;
            font-weight:500;
            font-size: 16px;
            padding: 15px 30px;
            border-radius: $lg-radius;
            background: linear-gradient(to top, $primary 0%, $secondary 100%);
            @include boxshadow;
}
@mixin gradientbtnhover {
    filter: brightness(110%);
    box-shadow: 0px 5px 10px 0px #9e9d9d;
    cursor: pointer;
}
@mixin flexstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
@mixin flexend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}